<a href="https://colab.research.google.com/github/AmritaBh/markov-network/blob/master/test-chatgpt-on%20TB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
path = "/content/drive/Shareddrives/DARPA/Datasets/TuringBench/TT_grover_mega/JSONL/"

filename1 = "real.test.jsonl"

df =  pd.read_json(path + filename1, lines=True, orient='records')
df.head()

                                                text  label
0  the scheme seeks to generate regular income th...      0
1  stated asset allocation . assets . min ( % ) m...      0
2  burkini ? a wetsuit but there 's 'burk ' in it...      0
3  ( ) on thursday , it became official : the sen...      0
4  load structure . options available . taxabilit...      0

In [10]:
df.iloc[2].text

"burkini ? a wetsuit but there 's 'burk ' in it so it 's forbidden . ndress yourself that 's just one part of the text on powerful illustration by an artist who goes @ lasauvagejaune twitter , which astutely depicts way that women around world risk scorn and moral judgment for almost any choice they make about their appearances . her work was inspired burkini bans -- relatively new ordinances 15 french towns forbid beachgoers from wearing swimsuits ( essentially , wetsuits with hoods ) some muslim choose . those laws became topic intense international scrutiny when images circulated this week woman nice being confronted police , forced to remover long"